body {
    background-image: url(https://cdn.mos.cms.futurecdn.net/yeRy6ZRcXnWMhca2PEYbfH-970-80.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgb(146, 164, 184);
    height: auto;
    margin: auto;
    color: white;
}

.demo {
    height: 50px;
    width: auto;
}

.para {
    text-align: center;
    padding: 5px;
    background-color: white;
    max-width: 30%;
    height: auto;
    margin: 1% auto;
    font-size: larger;
}

div {
    text-align: center;
    padding: 5px;
    max-width: 70%;
    height: auto;
    margin: 1% auto;
    font-size: larger;
    overflow: hidden;
}

ol {
    padding: 15px;
    background-color: white;
    max-width: 30%;
    height: auto;
    margin: 1% auto;
    font-size: larger;
    list-style-position: inside;
}

ol li {
    background: #bbcceb;
    margin: 5px;
}

.rules {
    background-color: white;
    max-width: 100%;
    padding-left: 20px;
}

div h2 {
    text-align: center;
}