body {
    background-image: url(https://cdn.mos.cms.futurecdn.net/yeRy6ZRcXnWMhca2PEYbfH-970-80.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    background-color: rgb(225, 65, 185);
    height: auto;
    margin: auto;
    color: white;
}

p {
    text-align: center;
    padding: 15px;
    background-color: white;
    width: 200px;
    height: auto;
    margin: 3% auto;
    font-size: larger;
}

.btn {
    display: block;
    margin: 10% auto;
    width: 200px;
    height: 30px;
    font-size: larger;
    background-color: #777;
    color: white;
}